<div class='container'>
    <h1>{{title}}</h1>
    <p *ngIf="loading">
        <em>Loading...</em>
    </p>
    <form *ngIf="!loading" (ngSubmit)='onSubmit()' #addressForm='ngForm'>
        <div class="row">
            <div class='form-group col-md-6 col-sm-12'>
                <label for='address1'>Address Line One</label>
                <input type='text' class='form-control' id='address1' name='address1' placeholder='123 Main St.' required [(ngModel)]='address.address1'
                    #address1="ngModel" />

                <div *ngIf='address1.invalid && (address1.dirty || address1.touched)' class='alert alert-danger'>
                    <div *ngIf='address1.errors?.required'>
                        Address Line One is required
                    </div>
                </div>
            </div>

            <div class='form-group col-md-6 col-sm-12'>
                <label for='address2'>Address Line Two</label>
                <input type='text' class='form-control' id='address2' name='address2' placeholder='Optional ... ' [(ngModel)]='address.address2'
                    #address2="ngModel" />
            </div>
        </div>

        <div class="row">
            <div class='form-group col-md-6 col-sm-12'>
                <label for='city'>City</label>
                <input type='text' class='form-control' id='city' name='city' placeholder='Dubuque' required [(ngModel)]='address.city' #city="ngModel"
                />
                <div *ngIf='city.invalid && (city.dirty || city.touched)' class='alert alert-danger'>
                    <div *ngIf='city.errors?.required'>
                        City is required
                    </div>
                </div>
            </div>

            <div class='form-group col-md-6 col-sm-12'>
                <label for='stateId'>State</label>
                <div *ngIf="!loadingStates && states">
                    <select id='stateId' class="select-match" name='stateId' [(ngModel)]="address.stateId" required #stateId="ngModel">
                        <option *ngFor="let state of states" [value]="state.id" [attr.selected]="address.stateId === state.id ? true : null">
                            {{ state.abbreviation }}
                        </option>
                    </select>
                    <div *ngIf='(stateId.dirty || stateId.touched) && (!address.stateId || address.stateId === 0)' class='alert alert-danger'>
                        <div>
                            State is required
                        </div>
                    </div>
                </div>
                <div *ngIf="loadingStates || !states">
                    <p>
                        <em>Loading states ...</em>
                    </p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class='form-group col-md-6 col-sm-12'>
                <label for='zipCode'>Zip Code</label>
                <input type='text' class='form-control' id='zipCode' name='zipCode' placeholder='45678 or 45678-1234' required [(ngModel)]='address.zipCode'
                    #zipCode="ngModel" />
                <div *ngIf='zipCode.invalid && (zipCode.dirty || zipCode.touched)' class='alert alert-danger'>
                    <div *ngIf='zipCode.errors?.required'>
                        Zip Code is required
                    </div>
                </div>
            </div>
        </div>

        <h4>Point (optional)</h4>
        <div class="row">
            <div class='form-group col-md-6 col-sm-12'>
                <label for='latitude'>Latitude</label>
                <input type='text' class='form-control' name='latitude' placeholder='50.0000' [(ngModel)]='address.point.latitude' #latitude="ngModel"
                    pattern='(\d{2})[.](\d{4})$' />
                <div *ngIf='latitude.invalid && (latitude.dirty || latitude.touched)' class='alert alert-danger'>
                    <div *ngIf='latitude.errors?.pattern && latitude.touched'>
                        This is not a valid latitude. Requires at lease 4 digits of precision [50.0000].
                    </div>
                </div>
            </div>

            <div class='form-group col-md-6 col-sm-12'>
                <label for='longitude'>Longitude</label>
                <input type='text' class='form-control' name='longitude' placeholder='100.0000' [(ngModel)]='address.point.longitude' #longitude="ngModel"
                />

                <!-- pattern='(\d)(\d)[\.](\d{4})$' />
                <div *ngIf='longitude.invalid && (longitude.dirty || longitude.touched)' class='alert alert-danger'>
                    <div *ngIf='longitude.errors?.pattern && longitude.touched'>
                        This is not a valid longitude. Requires at lease 4 digits of precision [100.0000].
                    </div>
                </div> -->
            </div>
        </div>


        <div class="row">
            <div class="col-sm-text-center">
                <button type='submit' class='btn btn-primary btn-lg' [disabled]='!addressForm.form.valid || !address.stateId || address.stateId === 0'>
                    <span class="fa fa-save"></span>&nbsp;&nbsp;Save
                </button>
                <a *ngIf="!activeWalkThrough" class="btn btn-default btn-lg" role="button" [routerLink]="['/location-index']">
                    <span class="fa fa-ban"></span>&nbsp;&nbsp;Cancel
                </a>
            </div>
        </div>
    </form>
</div>