<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CartegraphTown.Web</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='fa fa-home'></span>&nbsp;&nbsp;Home
                    </a>
                </li>
                <hr/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/issue-index']">
                        <span class='fa fa-clipboard-list'></span>&nbsp;&nbsp;&nbsp;Issue List
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/issue-add']">
                            <span class='fa fa-exclamation'></span>&nbsp;&nbsp;&nbsp;Add Issue
                        </a>
                    </li>
                <hr/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/citizen-index']">
                        <span class='fa fa-users'></span>&nbsp;&nbsp;Citizen List
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/citizen-add']">
                        <span class='fa fa-user-plus'></span>&nbsp;&nbsp;Add Citizen
                    </a>
                </li>
                <hr/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/location-index']">
                        <span class='fa fa-map-marker-alt'></span>&nbsp;&nbsp;Locations Lists
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/address-add']">
                        <span class='fa fa-map-marked-alt'></span>&nbsp;&nbsp;Add Address
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/point-add']">
                        <span class='fa fa-map-pin'></span>&nbsp;&nbsp;Add Point
                    </a>
                </li>
                <li>
                    <div *ngIf="showStatus" class='connection-test' [ngClass]="{'connected': isConnected, 'no-connection': hasLostConnection}">
                        <p *ngIf="loading">
                            <em>Looking for connection ...</em>
                        </p>
                        <p *ngIf="!loading && !states">
                            <em>Not connected</em>
                        </p>
                        <p *ngIf="states">
                            <em>Connection found</em>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>