<div class='container'>
    <div class="row">
        <div class="col-sm-12">
            <h1>CartegraphTown</h1>
            <p>Welcome to CartegraphTown single-page application.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Database Layer</h4>
            <ul>
                <li>MS SQL Server</li>
                <li>Visual Studio - Database Project</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Data Layer - Model</h4>
            <ul>
                <li>EF 6</li>
                <li>Entity Configuration</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Service Layer</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Web API Layer</h4>
            <ul>
                <li>Web API 2 - Rest</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Web Architecture</h4>
            <ul>
                <li>Core .Net 2</li>
                <li>Angular 4</li>
                <li>Bootstrap 3.3.7</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br/>
            <a class="btn btn-default btn-lg margin-top-20" role="button" [routerLink]="['/issue-add']">
                <span class="fa fa-exclamation"></span>&nbsp;&nbsp;Get Started With Issue Creation Walk Through
            </a>
        </div>
    </div>
</div>